project_id          = "fdetemplate"
project_number      = "653399508708"
expiry_id           = "demo-yyyymmddhhmm"
expires_at          = "2026-09-22T12:00:00Z"
cluster_name        = "fde-demo"
artifact_repository = "fde-demo-images"
bucket_names = [
  "fdetemplate-fde-demo-staging",
  "fdetemplate-fde-demo-production-demo",
]
disk_names = [
  "fde-demo-observability-loki",
  "fde-demo-observability-prometheus",
  "fde-demo-observability-tempo",
  "fde-demo-production-demo-postgres",
  "fde-demo-production-demo-redis",
  "fde-demo-staging-postgres",
  "fde-demo-staging-redis",
]
