project_id   = "example-fde-production"
region       = "example-region1"
customer     = "example"
environment  = "production"
cluster_name = "fde-example-production"
domain       = "directory.example.ca"
